.data-list tr {
    grid-template-columns: 100px 150px auto 100px 150px 150px;
}

.status.ON_SALE {
    font-size: 10px;
    background-color: #4cba00;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.status.SALE_END {
    font-size: 10px;
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.status.READY {
    font-size: 10px;
    background-color: #ffea00;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.page-list {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    width: 100%;
    grid-template-columns: repeat(12, min-content);
    justify-content: center;
    padding: 30px 0;
}

.page {
    cursor: pointer;
}

.page.active {
    color: var(--primary-color);
    font-weight: bold;
}