.data-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.go-new-page-button {
    height: fit-content;
}

.total-count {
    text-align: left;
    padding: 20px;
}

.total-count strong {
    font-weight: bold;
}

.data-list {
    border-collapse: collapse;
    width: 100%;
}

.data-list tbody {
    display: block;
}

.data-list tr {
    border-top: 1px solid #eeeeee;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 150px auto 100px 150px 150px;
    align-items: center;
}

.data-list tr:first-child {
    font-weight: bold;
    border-top: none;
}

.data-list tr:last-child {
    border-bottom: 1px solid #eeeeee;
}

.data-list td, .data-list th {
    padding: 20px 10px;
    text-align: center;
}

.data-list a {
    text-decoration: underline;
}

.status.ON_SALE {
    font-size: 10px;
    background-color: #4cba00;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.status.SALE_END {
    font-size: 10px;
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.status.READY {
    font-size: 10px;
    background-color: #ffea00;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.page-list {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    width: 100%;
    grid-template-columns: repeat(12, min-content);
    justify-content: center;
    padding: 30px 0;
}

.page {
    cursor: pointer;
}

.page.active {
    color: var(--primary-color);
    font-weight: bold;
}